%article
  %header
    %b Client Operations

  .grid
    = button_to "Register a New Client", new_client_path, method: :get

- if Current.user.admin?
  %article
    %header
      %b Admin Operations (only visible to admins)

    .grid
      = button_to "Create New User", new_user_path, method: :get
